@font-face {
    font-family: batmfa;
    src: url(../batmfa.ttf);
}

html {
	font-family: batmfa;
	position: fixed;
}

.HolyGrail {
	display:flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

.HolyGrail-body {
	display: flex;
	flex: 1;
}

.HolyGrail-content {
	flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
	flex: 0 0 20%;
	background-color: #333;
}

.HolyGrail-nav {
	order: -1;
}

.base {
	height: 100%;
	width: 100%;
}

.HolyGrail-content .map3d {
	width: 100%;
	height: 100%;
}

.infomap {
	position: absolute;
}

.casenav, .casenav .firstcase {
	height: 25%;
	width: 100%;
	align-items: center;
	display: inline-flex;
	background-color: #dedede;
}

.casenav:not(:last-child) {
	border-bottom: 2px solid #C70039;
	border-radius: 15px;
	z-index:1;
}

.casenav:not(:nth-child(1)) {
	border-top: 2px solid #C70039;
	border-radius: 15px;
	z-index:1;
}

.casenav img {
	width: 40%;
	height: auto;
	text-align: center;
}

.casenav .textcase * {
	width: 60%;
	text-align: center;
	font-size: 18px;
}

.font18 {
	font-size: 18px;
}

.font15 {
	font-size: 15px;
}

.casenav:hover .firstcase, .casenav .secondcase{
	display: none;
}
.survol {
	display : none;
	font-size : 10px;
}

.HolyGrail-nav > .casenav:hover > .survol, .HolyGrail-ads > .casenav:hover > .survol {
	display : flex;
}

#img1 {
	width : 1%;
	height : 2%;
	position:absolute;
	margin-top:150px;
}

.infomap{
	color : #298E29;
	padding-left : 8px;
	background-color : #4FE5C233;
}

.chatBox {
	background-color : #4FE5C233;
	text-align: center;
	position: absolute;
	right : 20%;
}
/* #habitat{ */
    /* height: 25%; */
	/* width: 100%; */
    
    /* z-index:0; */
/* } */
/* .image{ */
    /* width : 10%; */
	/* height : 10%; */
	/* margin-left : 100px; */
    /* position: relative; */
    /* z-index:1; */
/* } */

	



